#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.activeLink {
  background-color: #102664;
  color: #fff;
}